.questionAnswer {
	width: 50%;
	margin: 0 auto;
}

.outer {
	width: 100%;
}

.center {
	text-align: center;
	position: center;
}

.scoreHighScore {
	padding-left: 100px;
}

.fakeCenter {
	width: 50%;
	margin: 0 auto;
	padding-left: 100px;
}

canvas {
	border-radius: 12px;
}

* {
	font-family: consolas;
}

@font-face {
	font-family: consolas;
	src: url(./consola.ttf);
}
